
/******* Body & Container Styling *******/

img, embed, object, video {
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #EDF0F1;
  font-family: 'Philosopher', sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 99%;
  background-color: white;
  padding: 5px;
  align-self: center;
  flex-direction: row;
  justify-content: space-between;
}

.item {
  background-color: #10262C;
  padding: 3px;
  margin: 2px;
  border-radius: 3px;
}

/******* Header Styling *******/

header {
  width: 100%;
  padding: 3px;
  height: 30%;
  color: #5093A5;
  text-align: right;
}

h1 {
  color: #C0ECF8;
  font-size: 100%;
}

.titles h3 {
  font-size:90%;
}

.titles {
   float: right;
   padding-right: 10px;
   font-family: 'Philosopher', sans-serif;
   font-size: 140%;
   letter-spacing: 0.2rem;
   align-self: flex-end;
}

.logo {
  height: 90px;
  float: left;
  padding: 8px 10px 8px 8px;
}

/******* Main & Individual Items Styling *******/

.main-img {
  width: 100%;
  height: 200px;
}

.article-img {
  width: 97%;
  max-height: 200px;
  padding: 2px;
}

.article {
  width: 32%;
}

.item1 {
  order: -1;
}

.item2 {
  order: -1;
  width: 100%;
}

.item3 {
  order: -1;
  width: 100%;
  padding: 10px;
  color: #5093A5;
  font-family: 'Philosopher', sans-serif;
  font-size: 130%;
}

.item4, .item5, .item6{
  order: 0;
  text-align: center;
  padding: 2px;
  flex-grow: 1;
}


h4 {
  white-space: nowrap;
  text-overflow: clip;
  overflow: hidden;
  font-weight: 200;
  font-size: 70%;
  padding: 0 3px 10px 3px;
}

a {
  color: #5093A5;
}

p {
  font-weight: 400;
  font-size: 95%;
  color: #C0ECF8;
}
